   <?xml version="1.0"?>
    <httpErrors errorMode="Detailed" />

      <configuration>
        <appSettings>
          <add key="PYTHONPATH" value="C:\MGDIGITAL\SERVEURPYTHON" />
          <add key="WSGI_HANDLER" value="app" />
      </appSettings>

       <system.webServer>
           <handlers>
               <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\MGDIGITAL\SERVEURPYTHON\venv\Scripts\python.exe | C:\MGDIGITAL\SERVEURPYTHON\venv\Scripts\wfastcgi.exe" resourceType="Unspecified" requireAccess="Script" />
           </handlers>
       </system.webServer>
   </configuration>
